---
layout: post  
current: post  
cover:  assets/built/images/python-logo.png  
navigation: True  
title: 주식 분석 및 예측(1)-수집 및 DB   
date: 2022-07-18 20:00:00 +0900  
tags: [project]  
class: post-template  
subclass: 'post tag-python'  
author: chanp5660  
---

{% include Stock-table-of-contents.html %}

# 주식 분석 및 예측(1)-수집 및 DB

- 본 블로그는 주식 가격을 가지고 분석해보면서 예측을 하려는 블로그이다. 많은 블로그들을 참조할 것이며 그에 따라 본 블로그도 공유하려한다.

- 순서
    - <a href="#FinanceDataReader">FinanceDataReader 함수</a>
        - <a href="#StockListing">.StockListing(market)</a>
        - <a href="#DataReader">.DataReader(symbol, start_y_m_d, end_y_m_d)</a>

<p id="FinanceDataReader"></p>

## FinanceDataReader
- [github.com/FinanceData](https://github.com/FinanceData/FinanceDataReader)
- [finance.html](https://financedata.github.io/posts/finance-data-reader-users-guide.html)

- **함수 정리**
    - FinanceDataReader.StockListing(market)
        - market 코드를 넣으면 해당 시장에 상장된 정보를 가져온다.
    - FinanceDataReader.DataReader(symbol, start_yyyy)
    - FinanceDataReader.DataReader(symbol, start_y_m_d, end_y_m_d)
        - 해당 종목의 원하는 범위의 가격 데이터를 수집한다.

In [1]:
# 설치
#!pip install -U finance-datareader

Requirement already satisfied: finance-datareader in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (0.9.34)
Requirement already satisfied: pandas>=0.19.2 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from finance-datareader) (1.4.2)
Requirement already satisfied: tqdm in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: requests-file in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from finance-datareader) (4.9.0)
Requirement already satisfied: requests>=2.3.0 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from finance-datareader) (2.28.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.10)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from requests>=2.3.0->finance-datareader) (2022.6.15)
Requirement already satisfied: colorama in c:\users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages (from tqdm->finance-datareader) (0.4.5)

In [2]:
#  차트 설정
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["font.family"] = 'NanumGothic'
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

In [3]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.34'

## 전체 종목 코드(market)

- 한국
    - KRX : KRX 종목 전체
    - KOSPI : KOSPI 종목
    - KOSDAQ : KOSDAQ 종목
    - KONEX : KONEX 종목
    
- 미국
    - NASDAQ : NASDAQ 종목
    - NYSE : 뉴욕 증권거래소 종목
    - AMEX : AMEX 종목
    - SP500 : S&P 500 종목

<p id="StockListing"></p>


- 한국거래소 상장종목 전체 KRX

In [4]:
df_krx = fdr.StockListing('KRX') 
print(f"한국거래소 상장종목 전체 KRX : {len(df_krx)}")
df_krx.head()

한국거래소 상장종목 전체 KRX : 7959

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

- S&P 500 종목 전체 S&P500

In [5]:
df_spx = fdr.StockListing('S&P500')

print(f"S&P 500 종목 전체 S&P500 : {len(df_spx)}")
df_spx.head()

S&P 500 종목 전체 S&P500 : 503

C:\Users\tkd8484\anaconda3\envs\chanp5660\lib\site-packages\FinanceDataReader\wikipedia\listing.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Symbol'] = df['Symbol'].str.replace('\.', '')

  Symbol         Name       Sector                  Industry
0    MMM           3M  Industrials  Industrial Conglomerates
1    AOS  A. O. Smith  Industrials         Building Products
2    ABT       Abbott  Health Care     Health Care Equipment
3   ABBV       AbbVie  Health Care           Pharmaceuticals
4   ABMD      Abiomed  Health Care     Health Care Equipment

<p id="DataReader"></p>


- 신라젠, 2021 년

In [6]:
df = fdr.DataReader('068270', '2021')
df.head(10)

              Open    High     Low   Close   Volume    Change
Date
2021-01-04  344990  347935  336648  341065  2044341 -0.032033
2021-01-05  344990  349407  338611  347935  1279470  0.020143
2021-01-06  350388  352842  346953  346954   995972 -0.002819
2021-01-07  348425  352842  344500  350880   974596  0.011316
2021-01-08  352842  363148  349407  360204  1752377  0.026573
2021-01-11  370018  379342  360203  367074  2674305  0.019073
2021-01-12  373453  379832  363148  376889  2521867  0.026738
2021-01-13  372962  382777  368055  374435  2122923 -0.006511
2021-01-14  359222  367074  344500  345972  3490188 -0.076016
2021-01-15  342537  343027  319472  322907  3462400 -0.066667

```python
df = fdr.DataReader('068270', '2017')
df['Close'].plot()
plt.show()
```

<img src="https://user-images.githubusercontent.com/46266247/180197749-540b369a-1e7c-474a-bfa1-02682c1d21a8.png" width="100%">

- 애플(AAPL), 2018-01-01 ~ 2018-05-30

In [22]:
df = fdr.DataReader('AAPL', '2018-01-01', '2018-05-30')
df.tail()

            Close   Open   High    Low      Volume  Change
Date
2018-05-23  47.09  46.59  47.12  46.44  80230000.0  0.0064
2018-05-24  47.04  47.19  47.21  46.55  92940000.0 -0.0011
2018-05-25  47.15  47.06  47.41  46.91  69840000.0  0.0023
2018-05-29  46.98  46.90  47.19  46.72  90060000.0 -0.0036
2018-05-30  46.88  46.93  47.00  46.70  74760000.0 -0.0021

- 애플(AAPL), 2017년~

```python
df = fdr.DataReader('AAPL', '2017')
df['Close'].plot()
plt.show()
```

<img src="https://user-images.githubusercontent.com/46266247/180197751-a041edf5-4e4d-487a-a966-c22d7fbd3fec.png" witdh="100%">

-- 수정중 --